// Navigation code here
.nav-bar{
    .flex-center();
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    background-color: @nav-bg;
    border: 1px solid @nav-border;

    div{
        h1{
            font-size: 4rem;
        }
    }
    nav{
        .flex-center();
        justify-content: space-around;
        padding: 15px 20% 0;
        width: 90vw;

        @media @tablet {
            padding: 15px 10% 0;
        }

        @media @phone{
            width: 100%;
            padding: 15px 5% 0;
        }

        a{
            text-decoration: none;
            color: @nav-font;
            font-size: 1.6rem;
            &:hover{
                color: skyblue;
            }
        
        }
        
    }
}